<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- title has been set manually instead of dynamically  -->

    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- main css link update -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
 

    <div class="wrapper">
        <div class="row">
            <%- include('./partials/sideBar'); %>
            <div class="mainSectionContainer col-10 col-md-8 col-lg-8">
                <div class="titleContainer">
                    <h1>Search</h1>
                </div>
                    <!-- Content from block content -->
                    <div class="searchBarContainer">
                        <i class="fas fa-search"></i>
                        <input id="searchBox" type="text" name="searchBox" data-search="selectedTab"
                            placeholder="Search for users or posts">
                    </div>

                    <div class="tabsContainer">
                        <!-- code from tabs mixin  -->
                        <a href="postPage.html" class="tab" id="postsTab">
                            <span>Posts</span>
                        </a>

                        <script type="text/javascript">
                            var selectedTab = "Posts"; // Assign the appropriate value according to your need 
                            // Get the tab element by its ID
                            var postsTab = document.getElementById("postsTab");
                            // Determine if the tab should be active based on the selectedTab variable
                            if (selectedTab !== "users") {
                                postsTab.classList.add("active");
                            }

                        </script>

                        <!-- code from tabs mixin over  -->

                        <!-- code from tabs mixin  -->
                        <a href="/search/users" id="usersTab" class="tab">
                            <span>Users</span>
                        </a>
                        
                        <script>
                            var selectedTab ="Users"; // Assign the appropriate value
                            // Get the tab element by its ID
                            var usersTab = document.getElementById("usersTab");         
                            // Determine if the tab should be active based on the selectedTab variable
                            if (selectedTab === "users") {
                                usersTab.classList.add("active");
                            }
                        </script>
                        <!-- code from tabs mixin over  -->     
                  
                    
                     </div>
                     <div class="resultsContainer">   
                        <!-- experiment  -->

                        <div class='post ${largeFontClass}' data-id='${postData._id}'>
                            <!-- <div class='postActionContainer'>
                                ${retweetText}
                            </div> -->
                            <div class='mainContentContainer'>
                                <div class='userImageContainer'>
                                    <img src='public/images/profilePic.jpeg'>
                                </div>
                                <div class='postContentContainer'>
                                    <!-- <div class='pinnedPostText'>${pinnedPostText}</div> -->
                                    <div class='header'>
                                        <a href='/profile/${postedBy.username}' class='displayName'>Bueno Tran</a>
                                        <span class='username'>@d3</span>
                                        <span class='date'>2 days ago</span>
                                        <!-- ${buttons} -->
                                        <button class='pinButton ${pinnedClass}' data-id="${postData._id}" data-toggle="modal" data-target="${dataTarget}"><i class='fas fa-thumbtack pinButton'></i></button>
                                        <button data-id="${postData._id}" data-toggle="modal" data-target="#deletePostModal"><i class='fas fa-times pinButton'></i></button>
                                      
                                    </div>
                                    <!-- ${replyFlag} -->
                                    <div class='postBody'>
                                        <span>heee</span>
                                    </div>
                                    <div class='postFooter'>
                                        <div class='postButtonContainer'>
                                            <button data-toggle='modal' data-target='#replyModal'>
                                                <i class='far fa-comment'></i>
                                            </button>
                                        </div>
                                        <div class='postButtonContainer green'>
                                            <button class='retweetButton ${retweetButtonActiveClass}'>
                                                <i class='fas fa-retweet'></i>
                                                <!-- <span>${postData.retweetUsers.length || ""}</span> -->
                                            </button>
                                        </div>
                                        <div class='postButtonContainer red'>
                                            <button class='likeButton ${likeButtonActiveClass}'>
                                                <i class='far fa-heart'></i>
                                                <!-- <span>${postData.likes.length || ""}</span> -->
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='post ${largeFontClass}' data-id='${postData._id}'>
                            <!-- <div class='postActionContainer'>
                                ${retweetText}
                            </div> -->
                            <div class='mainContentContainer'>
                                <div class='userImageContainer'>
                                    <img src='public/images/profilePic.jpeg'>
                                </div>
                                <div class='postContentContainer'>
                                    <!-- <div class='pinnedPostText'>${pinnedPostText}</div> -->
                                    <div class='header'>
                                        <a href='/profile/${postedBy.username}' class='displayName'>Bueno Tran</a>
                                        <span class='username'>@d3</span>
                                        <span class='date'>2 days ago</span>
                                        <!-- ${buttons} -->
                                        <button class='pinButton ${pinnedClass}' data-id="${postData._id}" data-toggle="modal" data-target="${dataTarget}"><i class='fas fa-thumbtack pinButton'></i></button>
                                        <button data-id="${postData._id}" data-toggle="modal" data-target="#deletePostModal"><i class='fas fa-times pinButton '></i></button>
                                      
                                    </div>
                                    <!-- ${replyFlag} -->
                                    <div class='postBody'>
                                        <span>heee</span>
                                    </div>
                                    <div class='postFooter'>
                                        <div class='postButtonContainer'>
                                            <button data-toggle='modal' data-target='#replyModal'>
                                                <i class='far fa-comment'></i>
                                            </button>
                                        </div>
                                        <div class='postButtonContainer green'>
                                            <button class='retweetButton ${retweetButtonActiveClass}'>
                                                <i class='fas fa-retweet'></i>
                                                <!-- <span>${postData.retweetUsers.length || ""}</span> -->
                                            </button>
                                        </div>
                                        <div class='postButtonContainer red'>
                                            <button class='likeButton ${likeButtonActiveClass}'>
                                                <i class='far fa-heart'></i>
                                                <!-- <span>${postData.likes.length || ""}</span> -->
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='post ${largeFontClass}' data-id='${postData._id}'>
                            <!-- <div class='postActionContainer'>
                                ${retweetText}
                            </div> -->
                            <div class='mainContentContainer'>
                                <div class='userImageContainer'>
                                    <img src='public/images/profilePic.jpeg'>
                                </div>
                                <div class='postContentContainer'>
                                    <!-- <div class='pinnedPostText'>${pinnedPostText}</div> -->
                                    <div class='header'>
                                        <a href='/profile/${postedBy.username}' class='displayName'>Bueno Tran</a>
                                        <span class='username'>@d3</span>
                                        <span class='date'>2 days ago</span>
                                        <!-- ${buttons} -->
                                      
                                    </div>
                                    <!-- ${replyFlag} -->
                                    <div class='postBody'>
                                        <span>heee</span>
                                    </div>
                                    <div class='postFooter'>
                                        <div class='postButtonContainer'>
                                            <button data-toggle='modal' data-target='#replyModal'>
                                                <i class='far fa-comment'></i>
                                            </button>
                                        </div>
                                        <div class='postButtonContainer green'>
                                            <button class='retweetButton ${retweetButtonActiveClass}'>
                                                <i class='fas fa-retweet'></i>
                                                <!-- <span>${postData.retweetUsers.length || ""}</span> -->
                                            </button>
                                        </div>
                                        <div class='postButtonContainer red'>
                                            <button class='likeButton ${likeButtonActiveClass}'>
                                                <i class='far fa-heart'></i>
                                                <!-- <span>${postData.likes.length || ""}</span> -->
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- experiment over  -->

                     </div>
                     <!-- code from mixin createPostModals -->

                    <!-- Code from Reply Modal -->
                    <div id="replyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="replyModalLabel" class="modal-title">Reply</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="originalPostContainer"></div>
                                    <div class="postFormContainer">
                                        <div class="userImageContainer">
                                            <img src="public/images/profilePic.jpeg" alt="User's profile picture">
                                        </div>
                                        <div class="textareaContainer">
                                            <textarea id="replyTextarea" placeholder="What's happening?"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="submitReplyButton" class="btn btn-primary" type="button" disabled>Reply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- code from reply modal over  -->

                    <!-- Delete Post Modal -->
                    <div id="deletePostModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="deletePostModalLabel" class="modal-title">Delete the post?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>You won't be able to delete this.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="deletePostButton" class="btn btn-primary" type="button">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <!-- code from delete post modal over -->

                    <!--code form Confirm Pin Modal -->
                    <div id="confirmPinModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmPinModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="confirmPinModalLabel" class="modal-title">Pin this post?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>This post will appear at the top of your profile. You can only pin one post.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button id="pinPostButton" class="btn btn-primary" type="button">Pin</button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <!-- code from confirm pin modal over  -->

                    <!--code from Unpin Modal -->
                    <div id="unpinModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="unpinModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="unpinModalLabel" class="modal-title">Unpin the post?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>This post will be unpinned.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button id="unpinPostButton" class="btn btn-primary" type="button">Pin</button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <!-- code form unpin modal over  -->
                    <!-- code from mixin createPostModals over-->
                    <!-- code form the block content over  -->
                </div>
                <div class="d-none d-md-block col-md-2 col-lg-2"></div>
        </div>
    </div>
    <div id="notificationList"></div>

   
    <script>
        var userLoggedIn = '<%= userLoggedIn%>';
  
      </script>
    <!-- default scripts in layout-min file  -->
    <script src="public/js/common.js"></script>
    <script src="public/js/clientSocket.js"></script>
    <!-- default scripts in layout-min file over -->


</body>

</html>